* {
  padding: 0;
  margin: 0;
  outline: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

img {
  border: none; }

sub, sup {
  vertical-align: baseline; }

ol, ul {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  line-height: 1; }

a {
  text-decoration: none; }

.circles:after, .scrobbler-body:after {
  content: "";
  display: table;
  clear: both; }

.circles {
  float: left; }
  .circles li {
    height: 24px;
    width: 24px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    background-color: #d8190b;
    background-image: -moz-linear-gradient(#d8190b, #a30402);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d8190b), to(#a30402));
    background-image: -webkit-linear-gradient(#d8190b, #a30402);
    background-image: -o-linear-gradient(#d8190b, #a30402);
    background-image: linear-gradient(#d8190b, #a30402);
    border: 2px solid rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 2px rgba(255, 255, 255, 0.35), 0 2px #ff6e62;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle; }

.volume {
  float: right;
  position: relative;
  height: 20px;
  width: 100px;
  user-select: none; }
  .volume:before {
    position: absolute;
    display: block;
    width: 25px;
    height: 23px;
    left: -35px;
    content: "";
    background: url("../images/volume.png") no-repeat; }
  .volume .volume-track {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #a80c05;
    background-image: -moz-linear-gradient(#a80c05, #bb0d06);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a80c05), to(#bb0d06));
    background-image: -webkit-linear-gradient(#a80c05, #bb0d06);
    background-image: -o-linear-gradient(#a80c05, #bb0d06);
    background-image: linear-gradient(#a80c05, #bb0d06);
    border-radius: 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px rgba(255, 255, 255, 0.25);
    user-select: none;
    cursor: pointer; }
  .volume .volume-level {
    position: absolute;
    height: 100%;
    width: 60px;
    border-radius: 10px;
    border: 2px solid black;
    background: #121313;
    overflow: hidden;
    user-select: none;
    cursor: pointer; }
    .volume .volume-level:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 50%;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: #2a2b2b; }
  .volume .volume-handle {
    position: absolute;
    display: block;
    user-select: none;
    cursor: pointer;
    top: 0;
    left: 60px;
    margin-left: -14px;
    margin-top: -3px;
    height: 28px;
    width: 28px;
    background: url("../images/knob.png") no-repeat; }

.logo {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  height: 33px;
  background: url("../images/logo-min.png") top center no-repeat; }

.album-art {
  position: relative;
  height: 200px;
  width: 200px;
  float: left; }
  .album-art:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 2px rgba(255, 255, 255, 0.75), 0 4px 10px black;
    border-radius: 7px; }

.scrobbler__min {
  width: 700px;
  margin: 60px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); }

.scrobbler-header {
  position: relative;
  height: 80px;
  margin-top: 2px;
  width: 100%;
  padding: 29px 30px;
  background-color: #ff2711;
  background-image: -moz-linear-gradient(#ff2711, #de1409);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff2711), to(#de1409));
  background-image: -webkit-linear-gradient(#ff2711, #de1409);
  background-image: -o-linear-gradient(#ff2711, #de1409);
  background-image: linear-gradient(#ff2711, #de1409);
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0 2px rgba(255, 255, 255, 0.35), 0 6px 12px rgba(0, 0, 0, 0.5); }

.scrobbler-body {
  padding: 30px;
  background: #2a2b2b;
  font-size: 24px; }

.track-details {
  float: left;
  margin-left: 35px;
  color: #a2a7b0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75); }

.track-title, .track-artist a, .album-title, .album-release {
  color: white; }

.track-title {
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0 16px; }
  .track-title time {
    color: #a2a7b0;
    font-weight: normal;
    font-size: 26px; }
    .track-title time:before {
      content: "- "; }

.track-artist {
  position: relative;
  display: block;
  line-height: 30px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none; }
  .track-artist:after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    background: url("../images/plus.png") no-repeat;
    width: 30px;
    height: 29px; }

.album-title {
  margin: 40px 0 20px;
  font-size: 30px;
  font-weight: bold; }
