*
  box-sizing: border-box

body
  font-family: "Helvetica Neue"

ul
  margin: 0
  padding: 0

%group
  &:after
    content: ''
    display: table
    clear: both

=gradient($from, $to)
  background-color: $from
  background-image: -moz-linear-gradient($from, $to)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))
  background-image: -webkit-linear-gradient($from, $to)
  background-image: -o-linear-gradient($from, $to)
  background-image: linear-gradient($from, $to)

.circles
  @extend %group
  float: left

  li
    height: 24px
    width: 24px
    border-radius: 50%
    +gradient(#d8190b, #a30402)
    border: 2px solid rgba(0,0,0,.35)
    box-shadow: inset 0 2px rgba(255,255,255,.35), 0 2px #ff6e62
    margin-right: 15px
    display: inline-block
    vertical-align: middle

.volume
  position: relative
  float: right
  height: 20px
  width: 100px
  +gradient(#b90e06,#c60f07)
  border-radius: 15px
  box-shadow: inset 0 2px 2px rgba(0,0,0,.25), 0 2px rgba(255,255,255,.25)

  &:before
    position: absolute
    display: block
    width: 25px
    height: 23px
    left: -35px
    content: ''
    background: url('../images/volume.png') no-repeat

  .volume-inner
    position: relative
    overflow: hidden
    height: inherit
    width: 80px
    border-radius: 16px
    border: 2px solid #000
    background: #121313
    cursor: pointer

    &:before
      content: ''
      display: block
      position: absolute
      bottom: 50%
      height: 100%
      width: 100%
      border-radius: 16px
      background: #2a2b2b

  .volume-knob
    position: absolute
    display: block
    cursor: pointer
    content: ''
    top: 0
    left: 60px
    margin-top: -3px
    height: 28px
    width: 28px
    background: url('../images/knob.png') no-repeat

.logo
  position: absolute
  top: 22px
  left: 0
  right: 0
  height: 33px
  background: url('../images/logo-min.png') top center no-repeat

.album-art
  position: relative
  height: 200px
  width: 200px
  float: left

  &:after
    position: absolute
    content: ''
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: inset 0 2px rgba(255,255,255,.75), 0 4px 10px #000
    border-radius: 7px

.scrobbler__min
  margin: 60px
  box-shadow: 0 10px 30px rgba(0,0,0,.25)

.scrobbler-header
  position: relative
  height: 80px
  margin-top: 2px
  width: 100%
  padding: 29px 30px
  +gradient(#ff2711, #de1409)
  border-radius: 8px 8px 0 0
  box-shadow: inset 0 2px rgba(255,255,255,.35), 0 6px 12px rgba(0,0,0,.5)

.scrobbler-body
  @extend %group
  padding: 30px
  background: #2a2b2b
  font-size: 24px

.track-details
  float: left
  margin-left: 35px
  color: #a2a7b0
  text-shadow: 0 2px 3px rgba(0,0,0,.75)

.track-title,.track-artist span, .album-title,.album-release
  color: white

.track-title
  font-size: 32px
  margin: 0 0 15px

  time
    color: #a2a7b0
    font-weight: normal

    &:before
      content: '- '

.track-artist
  font-size: 22px

