@import 'reset'
@import 'mixins'
@import 'modules/scrobbler-header'
@import 'modules/scrobbler-control'

*, *:after, *:before
  box-sizing: border-box

body
  font-family: sans-serif
  line-height: 1

a
  text-decoration: none

%group
  &:after
    content: ''
    display: table
    clear: both

.album-art
  position: relative
  height: 200px
  width: 200px
  float: left

  &:after
    position: absolute
    content: ''
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: inset 0 2px rgba(255,255,255,.75), 0 4px 10px #000
    border-radius: 7px

.scrobbler__min
  width: 700px
  margin: 60px auto
  border-radius: 10px
  box-shadow: 0 10px 30px rgba(0,0,0,.25)

.scrobbler-body
  @extend %group
  position: relative
  padding: 30px
  background: #2a2b2b
  font-size: 24px

  &:before
    content: ''
    position: absolute
    display: block
    +gradient(rgba(0,0,0,0),rgba(0,0,0,1))
    bottom: 1px
    left: 0
    right: 0
    height: 150px
    opacity: 0.5

.track-details
  position: relative
  float: left
  margin-left: 35px
  color: #a2a7b0
  text-shadow: 0 2px 3px rgba(0,0,0,.75)

.track-title,.track-artist a, .album-title,.album-release
  color: white

.track-title
  font-size: 32px
  font-weight: bold
  margin: 5px 0 16px

  time
    color: #a2a7b0
    font-weight: normal
    font-size: 26px

    &:before
      content: '- '

.track-artist
  position: relative
  display: block
  line-height: 30px
  font-weight: bold
  font-size: 22px
  text-decoration: none

  &:after
    content: ''
    position: absolute
    display: inline-block
    margin-left: 10px
    background: url('../images/plus.png') no-repeat
    width: 30px
    height: 29px

.album-title
  margin: 40px 0 20px
  font-size: 30px
  font-weight: bold
