.scrobbler-control
  @extend %group
  height: 80px
  padding: 30px 20px
  background: linear-gradient(#fff, white(0)), url('../images/control-bg.png')
  border-radius: 0 0 10px 10px
  box-shadow: inset 0 0 0 1px #fff

  > div
    float: left
    margin-left: 20px

    &:first-child
      margin-left: 0

  .control-play
    height: 44px
    width: 40px
    margin-top: -12px
    background: url(../images/btn_play.png) no-repeat

  .control-skip
    height: 24px
    width: 34px
    margin-top: -1px
    background: url(../images/btn_skip.png) no-repeat

  .control-love
    height: 30px
    width: 32px
    margin-top: -4px
    margin-left: 30px
    background: url(../images/btn_love.png) no-repeat

  .control-nolove
    height: 35px
    width: 32px
    margin-top: -6px
    background: url(../images/btn_nolove.png) no-repeat

.seeker
  margin-left: 30px
  height: 20px
  width: 430px

.seeker-track
  height: 100%
  width: 100%
  border-radius: 10px
  background: black(.1)
  box-shadow: inset 0 2px 4px black(.15), inset 0 -1px black(.08), inset 0 1px black(.04), 0 2px white(.65)

  .seeker-fill
    overflow: hidden
    height: inherit
    width: 72%
    border: 2px solid #ab1409
    border-radius: 10px
    +gradient(#d21007, #a50c05)
    box-shadow: inset 0 1px 3px white(.3), inset 0 -1px 3px black(.2)

    +overlay
      height: inherit
      top: auto
      bottom: 50%
      background: white(.15)
      border-radius: 10px